.video-container {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure the video stays in the background */
  }
  
  .full-page-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }

  .banner2{
    position: absolute;
    top: 100%;
    left: 30%;
    width: 70%;
    height: 80%;
    background-color: #f6f6f6;
  }
  .Banner2Details{
    position: absolute;
    top: 102%;
    left: 0%;
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }



  @media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 

    .headerBanner2{
        color: #CD853F;
        letter-spacing: .07rem;
        font-size: 10vw;
        font-weight: 400;
        line-height: 1.15;
        display: block;
        /* text-align: justify; */
      }
      .subHeaderBanner2{
        color: #CD853F;
        line-height: 1;
        font-weight: 600;
        /* text-align: justify; */
        font-size: 1.2rem;
      }
    
      .banner2{
        position: absolute;
        top: 145%;
        left: 0%;
        width: 95%;
        height: 40%;
        margin-left: 2.5%;
        background-color: #f6f6f6;
      }
      .Banner2DetailsMobile{
        position: absolute;
        top: 105%;
        left: 0%;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f6f6f6;
      }
    .bannerDesktop{
      display: none;
    }
    .bannerMobile{
      display: block;
    }
    .headerBanner2Container{
      width: 90%;
      height: 20%;
      margin-left: 5%;
    }
    .subHeaderBanner2{
      width: 90%;
      height: 60%;
      margin-left: 5%;
      text-align: justify;
    }
 
  }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 

    .headerBanner2{
        color: #CD853F;
        letter-spacing: .07rem;
        font-size: 10vw;
        font-weight: 400;
        line-height: 1.15;
        display: block;
        /* text-align: justify; */
      }
      .subHeaderBanner2{
        color: #CD853F;
        line-height: 1;
        font-weight: 600;
        /* text-align: justify; */
        font-size: 1.2rem;
      }
     
      .banner2{
        position: absolute;
        top: 145%;
        left: 0%;
        width: 100%;
        height: 40%;
        background-color: #f6f6f6;
      }
      .Banner2DetailsMobile{
        position: absolute;
        top: 105%;
        left: 0%;
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f6f6f6;
      }
      .bannerDesktop{
        display: none;
      }
      .bannerMobile{
        display: block;
      }
      .headerBanner2Container{
        width: 90%;
        height: 30%;
        margin-left: 5%;
      }
      .subHeaderBanner2{
        width: 90%;
        height: 70%;
        margin-left: 5%;
        text-align: justify;
      }}
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

    .headerBanner2{
        color: #CD853F;
        letter-spacing: .07rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.15;
        display: block;
        width: 90%;
        margin-left: 5%;
      }
      .subHeaderBanner2{
        color: #CD853F;
        line-height: 1.3;
        font-weight: 600;
        text-align: justify;
        font-size: 1.2rem;
        width: 80%;
        margin-left: 10%;
      }
      .banner2{
        position: absolute;
        top: 100%;
        left: 30%;
        width: 70%;
        height: 80%;
        background-color: #f6f6f6;
      }
      .Banner2Details{
        position: absolute;
        top: 102%;
        left: 0%;
        width: 30%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f6f6f6;
      }
    .bannerMobile{
      display: none;
    }}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 

    .headerBanner2{
        color: #CD853F;
        letter-spacing: .07rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.15;
        display: block;
        text-align: justify;
        width: 80%;
        margin-left: 10%;
      }
      .subHeaderBanner2{
        color: #CD853F;
        line-height: 1.5;
        font-weight: 600;
        text-align: justify;
        font-size: 1.2rem;
        width: 80%;
        margin-left: 10%;
      }
      .banner2{
        position: absolute;
        top: 100%;
        left: 30%;
        width: 70%;
        height: 80%;
        background-color: #f6f6f6;
        margin: 0;
      }
      .Banner2Details{
        position: absolute;
        top: 100%;
        left: 0%;
        width: 30%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f6f6f6;
      }
      .bannerMobile{
        display: none;
      }}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 

    .headerBanner2{
        color: #CD853F;
        letter-spacing: .07rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.15;
        display: block;
        text-align: left;
        width: 70%;
        margin-left: 15%;
      }
      .subHeaderBanner2{
        color: #CD853F;
        line-height: 1.3;
        font-weight: 600;
        /* text-align: justify; */
        font-size: 1.2rem;
        width: 70%;
        margin-left: 15%;
      }
      .banner2{
        position: absolute;
        top: 100%;
        left: 30%;
        width: 70%;
        height: 80%;
        background-color: #f6f6f6;
        margin: 0;
      }
      .Banner2Details{
        position: absolute;
        top: 100%;
        left: 0%;
        width: 30%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f6f6f6;
      }
      .bannerMobile{
        display: none;
      }}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 

    .headerBanner2{
        color: #CD853F;
        letter-spacing: .07rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.15;
        display: block;
        text-align: left;
        width: 70%;
        margin-left: 15%;
      }
      .subHeaderBanner2{
        color: #CD853F;
        line-height: 1.7;
        font-weight: 600;
        /* text-align: justify; */
        font-size: 1.2rem;
        width: 70%;
        margin-left: 15%;
      }
      .banner2{
        position: absolute;
        top: 100%;
        left: 30%;
        width: 70%;
        height: 80%;
        background-color: #f6f6f6;
      }
      .Banner2Details{
        position: absolute;
        top: 100%;
        left: 0%;
        width: 30%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f6f6f6;
      }
      .bannerMobile{
        display: none;
      }}
  